{% extends 'template.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
<div>
<h1>Liste Produit</h1>
    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Désignation Article</th>
                <th>Prix Achat</th>
                <th>Prix Vente</th>
                <th>Tva</th>
                <th>Stock</th>
                <th>Stock Initial</th>
                <th>Stock alert</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.pa }}</td>
                <td>{{ produit.pv }}</td>
                <td>{{ produit.tva }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.stockInit }}</td>
                <td>{{ produit.stockalrt }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}"class = "btn btn-success">Show</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}"class = "btn btn-warning">Update</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}"class = "btn btn-success">Create new</a>

</div>
{% endblock %}
