{% extends 'template.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
        <div class ="container">
            <div class ="panel panel-primary">
                <div class ="panel-heading">
               <i class="icon_menu"></i><h3>Show Client</h3>
            </div>
                <div class ="panel-body">  
   

    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
        
            <tr>
                <th>Id</th>                
                <th>Designation</th>
                <th>Responsable Commercial</th>
                <th>Responsable Finanancier</th>
                <th>Adresse Livraison</th>
                <th>Adresse Facture</th>
                <th>Tel</th>
                <th>Portable</th>
                <th>Fax</th>
                <th>Email</th>
                <th>Solde Initial</th>
                <th>Solde</th>
        </thead>
            </tr>
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.designation }}</td>
                <td>{{ client.RespComm }}</td>
                <td>{{ client.RespFinan }}</td>
                <td>{{ client.adrLiv }}</td>
                <td>{{ client.adrFacture }}</td>
                <td>{{ client.tel }}</td>
                <td>{{ client.portable }}</td>
                <td>{{ client.fax }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.soldeInit }}</td>
                <td>{{ client.solde }}</td>
            </tr>
            
    </table>
        
    <table>
        <tr>    
            <a href="{{ path('client_edit', {'id': client.id}) }}" class="btn btn-warning">Update</a>
            {{ include('client/_delete_form.html.twig') }}
        </tr>
        <tr>
            <a href="{{ path('client_index') }}">back to list</a>
        </tr>
    </table>        

        
  </div>
</div>
</div> 
    
{% endblock %}
